.App {
  flex-direction: column; /* 세로 방향으로 정렬 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* 카드 간의 간격 조정 */
  justify-content: space-between; /* 카드의 정렬 */
}

.card-container .card {
  flex: 1 1 calc(50% - 1rem); /* 두 개씩 나열되도록 설정 */
  box-sizing: border-box;
}